h1, h2, h3, h4, h5{
  margin-bottom: 0.5rem;
}
body{
  font-family: 'Raleway', sans-serif;
  color: $cor-primaria;
}
h1{ font-size: 2.5rem;}
h2{ font-size: 2.2rem;}
h3{ font-size: 2rem;}
h4{ font-size: 1.5em;}
h5{ font-size: 1.3rem;}
p{ font-size: 1.2rem;}